body {
    background-color: #f7f7e9;
}


.navbar {
    background: #F97300; /* задаёт фон для меню */
}

.nav-link, .navbar-brand {
    color: #f4f4f4; 
    cursor: pointer; /* задаёт цвет текста для ссылок в меню и курсор */
}

.nav-link {
    margin-right: 1em !important; /* добавляет отступ справа в приоритете */
}

.nav-link:hover {
    background: #f4f4f4; 
    color: #f97300; /* при наведении на ссылку фон и цвет текста */
}

.navbar-collapse {
    justify-content:flex-end; /* приложение контента к правой части контейнера */
}

.navbar-toggler {
    background: #fff !important;  /* фон для кнопки в приоритете */
}

.navbar .reg {
    border:2px solid #fff;
    border-radius: 5px;
}

/* header */

.header {
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #F97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

/* обо мне */
 
 .about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
 }

 .about h1 {
    color: #F97300;
    margin: 2em;
 }

 .about img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
 }

 .about span {
    display:block;
    color: #888;
    position:absolute;
    left:115px;
 }

 .about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
 }

 .about .desc h3 {
    color: #10828C;
 }

 .about .desc p {
    line-height: 2;
    color: #888;
 }

 /* Portfolio */

 .portfolio {
    margin: 4em 0;
    position: relative;
 }

 .portfolio h1 {
    color: #F97300;
    margin: 2em;
 }

 .portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
 }

 /* blog */

.blog {
    margin: 4em 0;
    position: relative;
}

.blog h1 {
    color: #F97300;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
}

.blog .card img {
    width: 100%;
    height: 12em;
}

.blog .card-title {
    color: #F97300;
}

.blog .card-body {
    padding: 1em;
}

/* team */

.team {
    margin: 4em 0;
    position: relative;
}

.team h1 {
    color: #F97300;
    margin: 2em;
}

.team .item {
    position: relative;
}

.team .des {
    background: #f97300;
    color: #fff;
    text-align:center;
    border-bottom-left-radius: 93%;
    transition:3s ease-in-out;
}

.team .item:hover .des {
    height: 100%;
    background:#F973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}

/* Form */

.contact-form {
    margin: 6em;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color:#F97300;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #F97300;
    color: #fff;
    border 0;
}

.contact-form .right .form-control::placeholder {
color: #888;
font-size:16px;
}

/* footer */

.footer {
    padding: 2em 0 1em 0;
    background: #F97300;
    color: #fff;
    position: relative;
}

.footer .right {
    background: #fff;
    border-radius: 10px;
}

.footer h1 {
    font-size:28px;
    color:#F97300;
    padding:1px 1px;
}

.footer .center {
    text-align: center;
    vertical-align: bottom;
}

.footer .right li {
margin-top: 5px;
}

.footer  .soc-link {
   color: #F97300;
}

.footer  .soc-link:hover {
   text-decoration: none;
   border: 2px solid #F97300;
   border-radius: 5px;
   padding: 5px;
}

/* htmlCONTACT */

.center {
    text-align: center;
}

.contact-form .contact2 {
    background-color: #fff;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 5px #f2f1da;
}

iframe {
    box-shadow: 0px 0px 3px 5px #f2f1da;
    border: 3px solid #fff; 
    border-radius: 50px;
}

/* indexGALLERY */


/* form */

.forma {
    padding: 4em 0 2em 0;
}