body {
	margin: 5px 5px 5px 5px;
}
.reg {
	top:50%;
	left:50%;
	margin: -135px 0 0 -135px;
	position: fixed;
	text-align: center;
	width: 270px;
	height: 270px;
	background-color: lightgray;
	border-radius: 7px;
}
input {
	border-radius: 7px;
}
#Log {
	text-align: center;
}
#Log2 {
	text-align: center;
}